ul {
  margin: 0
}

li li {
  font-size: 80%;
  list-style: square;
}

li li a {
  display: none;
}

.footer-link {
  text-align: center;
  font-size: 80%;
  padding-bottom: 1em;
}
.footer-link a {
  color: #aaa;
}

h2 a, h2 a:visited {
  text-decoration: none
}

h2 a:hover {
  text-decoration: underline
}
